
<div class="container">
    <h1>Perros de Web Service</h1>

    <div class="container-sm">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>foto</th>
                    <th>nombre</th>
                    <th>descripción</th>
                    <th>vida máxima</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <img src="https://images.saymedia-content.com/.image/t_share/MTk2NzIzMTQ2NzMxMTAzMjUw/11-dogs-like-german-shepherd.png" width="150px">
                    </td>
                    <td>Chicharrón</td>
                    <td>prueba de descripción</td>
                    <td>21 años</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
